/*Footer*/
.footer-gral{
    background-color: $borde;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &__footertxt{
        @include fontsizes(small,none,none);
    }
    img {
        @include sizes(55px,55px);
    }
}
.redes-sociales {
    a{
        text-decoration: none;
    }
}
