/*Sobre Nosotros*/
.div-sn{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50%;
    }
    img{
        width: 50%;
        height: 50%;
    }
    h1{
        @include fontsizes(40px,500,none);
    }
    &__first{
        padding-left: 20px;
        text-align: left;
    }
    &__second{
        padding-right: 20px;
        text-align: right;
    }
}
.reverse{
    flex-direction: row-reverse;
}

/*-mobile-*/
@media (max-width: 768px){
    .div-sn{
        flex-direction: column;
        article{
            width: 100%;
            text-align: center;
        }
        img{
            @include sizes(100%,300px);
            object-fit: cover;
            padding-bottom: 20px;
        }
    }
    .div-sn__first, .div-sn__second{
        padding: 20px;
    }
}
